<h1>New Student</h1>
<%= form_for @student do |f| %>
<div>
  <%= f.label "email" %><br>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :password %><br>
  <%= f.text_field :password %>
</div>
<div>
  <%= f.label :password_confirmation %><br>
  <%= f.text_field :password_confirmation %>
</div>
<div>
  <%= f.hidden_field :role, value: :student %>  
</div>
<%= f.submit %>
<% end %>